*{
    font-family:"Times New Roman", Arial, Helvetica, sans-serif;
    background-color: #0c2c1a;
}

.pan-seared-salmon-title{
    color:#8fc371;
    font-size: 36px;
}

.pan-seared-salmon-title{
    height:auto;
    width:500px;
}

.headings{
    color:#8fc371;
}

.text{
    color:#aec6af;
}
