*{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #9d5e43;
}


.odin-recipe-title{
    color:#701f03;
    text-align: center;
}

.recipes{
    color:#310a0b;
    font-size: 22px;
}